<div class="background">

    <div class="container">

        <div class="container-flexbox">

            <h1 class="title">LOGIN</h1>

            <form name="Form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>

                
                <div class="formSection">

                    <input required type="text" name="username" [(ngModel)]="form.username" #username="ngModel" placeholder="Username">
                </div>

                <div class="formSection">

                    <input type="password" name="password" [(ngModel)]="form.password" required #password="ngModel" placeholder="Password">
                </div>

                <div *ngIf="loginError" class="error">
                  
                    <p>Wrong Username or Password</p>
                  </div>

                <button>Submit</button>
                <a class="signupBtn" href="/register-page">Signin</a>

            </form>

            
           
  

        </div>

    </div>

</div>